{% extends "base.html" %}

{% block content %}
<h1>Вход в систему</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="post" class="login_form" novalidate>
    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password") }}
        {% for error in form.password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-check">
        {{ form.remember_me() }}
        {{ form.remember_me.label }}
    </div>

    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}
